*{
	box-sizing: border-box;
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 15px;
}
body{
	background: #fff;
}

header {
	background: #222;
	color:#fff;
    padding: 20px 30px;
}

#logo {
	display: inline-block;
	color: #fff;
	text-decoration: none;
    width: 49%
}

/*nabar*/
nav {
	width: 50%;
	display: inline-block;
	text-align: right ;
}

nav ul {
	list-style: none;
	margin: 0;

}

nav ul li {
	display: inline-block;
	
}
nav ul li a {
	color: #fff;
	text-decoration: none;
	display: block;
	padding: 10px 15px;
	border-radius: 5px;
}

nav ul li a:hover{
	background: :#444;
}
footer {
 	background: #222;
 	color: #777;
 	padding: 50px; 
 	text-align: center;
 	position: absolute;
   bottom: -140%;
   width: 100%;

 }
 footer a {
 	text-decoration: none;
   color: #FFF;
   padding: 10px 15px;

 }
footer a:hover{
	color: #88f;
}